.pictures-container {
  perspective: 100px;
  display: inline-block;
  border: 1px solid white;
  background: black;
  transform: rotateY(360deg);
}

.pictures {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front {
  backface-visibility: hidden;
  transform: rotateY(0deg);
  position: absolute;
  left: 0;
  top: 0;
}